@media (min-width: 300px) and (max-width: 999px){
  #about {
    scroll-margin-top: 110px;
  }
}
@media (min-width: 1000px) and (max-width: 3000px){
  #about {
    scroll-margin-top: 0px;
  }
}

#about {
  font-family: "Josefin Sans", sans-serif;
  padding: 40px 10px 40px 10px;
  background-color: #6F4E37;
  color: #FED8B1;
}

.text-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#about h2{
  font-size: 40px;
  font-weight: 100;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  width: 300px;
}
#about .about-para{
  padding: 10px 30px;
  margin-top: 30px;
  line-height: 20px;
  font-size: 15px;
}


/* add certification, awards, and owner picture cards */

.bio-container{
  border: 1px solid #FED8B1;
  margin-top: 30px;

}

/* founder */
#about .founder-container{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 221px;
  margin-top: 10px;

}
#about .founder-img{
  height: 100px;
  width: auto;
  object-fit: cover;
  object-position: top;

  border-radius: 50px;
}
#about .founder-name{
  margin-top: 10px;

}
#about .founder-title{
  font-size: 12px;
  margin-top: 5px;

}


.award-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  min-width: 300px;
  border-top: 1px solid #FED8B1;

}

.awards {
  margin: 10px 10px;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;

}
.awards .i{
  font-size: 32px;
  margin: 0px 10px;
}
.award-para{
  font-size: 12px;
  width: 100px;
  margin-top: 20px;
  text-align: center;
}

