@media (max-width: 999px){
  #contact {
    scroll-margin-top: -300px;
  }
}
@media (min-width: 1000px){
  #contact {
    scroll-margin-top: -500px;
  }
}

#contact{
  font-family: "Josefin Sans", sans-serif;
  color: #201c27;
  background-color: #EED5B6;
  padding-bottom: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact .makeup-img{
  width: 100%;
}

#contact h2{
  font-size: 50px;
  font-weight: 100;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  width: 300px;
}
#contact .timings{
  margin: 30px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
} 
#contact .timings p{
  margin: 10px 0px 0px 0px;
}


/* numbers */
.contact-box{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #01573d;
  cursor: pointer;
  width: 250px;
  color: #6F4E37;
  overflow: hidden;
  text-decoration: none;
}

.contact-box:hover .number-content,
.contact-box:hover .contact-title{
  color: #000000;
}
.number-content{
  border-bottom: 1px solid #01573d;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #01573d;
  transition: all 0.3s;
  font-size: 20px;
  width: 100%;
}
.number-content .i{
  margin: 0px 0px 8px 0px;
  font-size: 20px;
  
}
.contact-title{
  transition: all 0.3s;
  padding: 10px;

}
/* location */
.location-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #6F4E37;
}
.location-heading{
  margin-top: 30px;
  font-size: 30px;
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  width: 300px;
  color: #201c27;
}
.location-box{
  width: 250px;
  margin-top: 10px;
  border: 1px solid rgb(1, 87, 61);
  cursor: pointer;
  transition: all 0.3s;
}

.location-text{
  border-bottom: 1px solid #01573d;
  padding: 20px 60px;
  
}
.location-link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
} 
.location-link p{
  color: #01573d;
  margin-left: 10px;
  transition: all 0.3s;
  font-size: 20px;

}
.location-link .i{
  color: #01573d;
  padding-bottom: 2px;
  font-size: 20px;
  transition: all 0.3s;
}
.location-box:hover,
.location-box:hover .location-link p,
.location-box:hover .location-link .i{
  color: #000000;
}
