/* transparent section */
#transparent{
  height: 30vh;
  height: 30dvh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.scrollUpBtn{
  background: transparent;
  font-size: 30px;
  color: #FED8B1;
  cursor: pointer;

  border-width: 1px;
  border-style: solid;
  border-color: #FED8B1;
  border-radius: 0px 0px 25px 25px;
  padding: 10px 10px 0px 10px;
}

#footer-top{
  font-family: "Josefin Sans", sans-serif;
  color: #201c27;
  background-color: #A67B5B;
  padding: 40px 10px 10px 10px;

}

.socials-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 0px 0px;
}

.instagram-content, .facebook-content{
  color: rgba(32, 28, 39, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 0px;
  padding: 10px;
  font-size: 20px;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.instagram-content:hover, .facebook-content:hover{
  transform: translateY(-10px);
  color: rgba(32, 28, 39, 1);
}
.instagram-content::before, .facebook-content::before{
  content: '';
  position: absolute;
  width: 80%;
  height: 4px;
  background-color: #201c27;
  bottom: 8px;

  transform-origin: left;
  transition: transform 0.3s;
  border-radius: 50px;
  transform: translateY(-50%) scaleY(0);
}
.instagram-content:hover::before, .facebook-content:hover::before {
  transform: translateY(-50%) scaleY(1);
}

#footer-top .username{
  padding: 10px;

}
.instagram-content .contact-title, .facebook-content .contact-title{
  font-size: 16px;
}
.instagram-content .i, .facebook-content .i{
  font-size: 32px;
}


/* bottom */
#footer-bottom{
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #201c27;
  background-color: #A67B5B;
  padding: 10px 10px 40px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.footer-text{
  margin: 10px 40px;
  
}
.footer-text p{
  margin: 5px;
}
.footer-text a{
  text-decoration: none;
  color: inherit
}
.footer-text .p1{
  margin: 15px 0px;
}