colors{
  color: #01573d;
  color: #8aa191;
  color: #da9f87;
  color: #ffe3d7;
  color: #fffefe;
  color: #201c27;
  
  color: #6F4E37;
  color: #A67B5B;
  color: #ECB176;
  color: #FED8B1;
}
html{
  scroll-behavior: smooth;
}

body{
  height: 3000px;
  font-weight: 400;
  font-style: normal;
  background-color: #3d3d3d;
}

#transparent{
  height: 30vh;
}

#footer{
  scroll-margin-top: 110px;
  font-family: "Josefin Sans", sans-serif;
  color: #201c27;
  background-color: #01573d;
  padding-bottom: 40px;
  height: 50vh;

}

.instagram-content, .youtube-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.instagram-content:hover .i,
.instagram-content:hover .contact-type,
.youtube-content:hover .i,
.youtube-content:hover .contact-type {
  color: #000000;
}