html{
  scroll-behavior: smooth;
}
*{ 
  margin: 0; 
  padding: 0; 
}
@media (min-width: 0px) and (max-width: 999px){
  .mainImg{
    height: 110vh;
    height: 110dvh;
    width: 100vw;
    width: 100dvw;
    object-fit: cover;
    object-position: 50% 35%; 
    position: fixed;
    bottom: -10vh;
    bottom: -10dvh;
    z-index: 0;
  }

  #main{
    background-color: #b9835c;
    position: relative;
    top: 50vh;
    top: 50dvh;
    left: 0;
    right: 0;
    height: 50vh;
    height: 50dvh;
  }
}


@media (min-width: 1000px) and (max-width: 3000px){
  #main{
    background-color: #b9835c;
    position: relative;
    top: 50vh;
    top: 50dvh;
    left: 0;
    right: 0;
    height: 50vh;
    height: 50dvh;
    width: 50vw;
    width: 50dvw;
  }
  .mainImg{
    height: 110vh;
    height: 110dvh;
    width: 100vw;
    width: 100dvw;
    object-fit: cover;
    object-position: 50% 35%; /* Updated to focus higher */
    position: fixed;
    z-index: 0;
  }


}
