#main{
  background-color: #b9835c;
  position: relative;
  top: 50vh;
  left: 0;
  right: 0;
  height: 1000px;
}
.mainImg{
  width: 120vw;
  position: fixed;
  top: -10vh;
  left: -10vw;
  z-index: 0;
}
#home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #6F4E37;
}
h1{
  font-size: 50px;
  font-weight: 100;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  width: 300px;
  color: #FED8B1;
}

.scrollBtn{
  position: absolute;
  top: -32px;
  
  background: transparent;
  font-size: 30px;
  color: #FED8B1;
  cursor: pointer;

  border-width: 1px;
  border-style: solid;
  border-color: #FED8B1;
  border-radius: 25px 25px 0px 0px;
  padding: 10px 10px 0px 10px;
  animation: scroll 2s infinite;
}
@keyframes scroll{
  0%, 100%{
    top: -32px;
  }
  45%{
    top: -44px;
  }
  55%{
    top: -32px;
  }
}