#home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  height: 50dvh;
  background-color: #6F4E37;

  scroll-margin-top: 50vh;
  scroll-margin-top: 50dvh;
}
#home h1{
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #FED8B1;
}

.scrollBtn{
  position: absolute;
  top: -32px;
  
  background: transparent;
  font-size: 30px;
  color: #FED8B1;
  cursor: pointer;

  border-width: 1px;
  border-style: solid;
  border-color: #FED8B1;
  border-radius: 25px 25px 0px 0px;
  padding: 10px 10px 0px 10px;
  animation: scroll 2s infinite ease;
}
@keyframes scroll{
  0%, 100%{
    top: -32px;
  }
  45%{
    top: -48px;
  }
  55%{
    top: -32px;
  }
}

@media (max-width: 999px){
  #home h1{
    font-size: 50px;
    font-weight: 200;
    width: 300px;
  }
}
@media (min-width: 1000px) {
  #home h1{
    font-size: 60px;
    font-weight: 200;
    width: 400px;
  }
}